*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#E1CA96;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none ;
    font-size: 8vmin;
    color: #434A42;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    background-color: #918B76;
}
#reset-btn{
    height: 8vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    font-size: 2vmin;
    color: #fff;
    background-color: #626C66;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

}
msg{
    color: #918B76;
    font-size: 5vmin;
}
#new-btn{
    height: 8vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    font-size: 2vmin;
    color: #fff;
    background-color: #626C66;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.hide{
    display: none;
}
.msgcontainer{
    height: 40vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    font-size: 20vmin;
    /* display: none; */
}
p{
    display: none;
}

 